@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf");
}
:root {
  --background: oklch(92.8% 0.006 264.531);
  font-family: "Helvetica";
  --font-stack: "Stack Sans Headline", system-ui, sans-serif;
  --font-google: "Google Sans Flex", sans-serif;
}

body {
  /* font-family: "Inter", sans-serif; */
}

.dark {
  --background: oklch(20.5% 0 0);
}
@theme {
  --font-stack: var(--font-stack);
  --font-google: var(--font-google);
  --color-primary: oklch(50.5% 0.213 27.518);
  --font-arimo: "Arimo", sans-serif;
  --shadow-navbar:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  --animate-marquee: marquee 10s linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}

@theme inline {
  --color-background: var(--background);
}
